:root {
    --darkgrey: rgb(36, 36, 36);
    --lightblue: rgb(1, 150, 150);
    --white: rgb(245, 245, 245);
    --grey: #33393f;
    --darkishblue: rgb(70, 120, 120);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

h3 {
    font-size: 40px;
    color: var(--lightblue);
    border-right: 5px solid var(--darkishblue);
    text-align: right;
}

/* header nav bar styles  */
header {
    padding: 10px 20px;
    background-color: var(--darkgrey);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    position: relative;
    right: 20px;
    margin: 0;
    font-size: 36px;
    color: var(--darkgrey);
    background-color: var(--lightblue);
    padding: 5px;
    width: 17%;
    text-align: right;
}

header a {
    text-decoration: none;
    color: var(--lightblue);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 28px;
    border-bottom: 5px solid var(--lightblue);
    font-style: oblique;
    margin-right: 15px;
}

/* Header navbar styles end  */

/* Banner styles start  */
.hero {
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    flex-wrap: wrap;
    background-attachment: fixed;
    height: 250px;
}

.hero-subtitle {
    background-color: var(--lightblue);
    height: 50px;
    position: relative;
    top: 100px;
    padding: 10px 30px;
    color: var(--darkgrey);
    font-size: 24px;
}

/* About me styling  */
#about-me {
    display: flex;
    height: 200px;
    margin: 15px 0 15px 100px;
}

#about-me h3 {
    height: 100%;
    padding: 0 15px 0 33px;
}

.section-content {
    display: flex;
    margin-left: 33px;
    justify-content: space-between;
    width: 73%;
}

.section-content img {
    display: flex;
    border-style: solid;
    border-color: var(--lightblue)
}

.section-content p {
    flex-grow: 1;
    padding: 10px 0px 0px 10px
}

/* Work styling  */
#work {
    display: flex;
    margin: 10px 0 10px 100px;
}

#work div a {
    text-decoration: none;
    color: var(--darkgrey);
}

#work h3 {
    padding: 0 15px 0 49.5px;
}

#work h4 {
    background-color: var(--lightblue);
}

#work p {
    background-color: var(--lightblue) ;
}

/* Footer styling  */
footer {
    display: flex;
    flex-wrap: wrap;
    margin:15px 0 15px 100px;
}

footer h3 {
    padding-right: 15px;
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    padding: 10px 30px;
    margin-top: 40px;
    font-weight: lighter;
    font-size: 16px;
    border-bottom: 5px solid var(--lightblue);
    font-style: oblique;
    margin-left: 20px;
}

footer a {
    flex-grow: 1;
    text-decoration: none;
    height: 100%;
}

.flexbox-item:hover {
    opacity: 1;
    border-radius: 25px;
}

a:hover {
    background-color: black;
    border-radius: 25px;

}